// Here you can add other styles
.logo {
    font-size: 40px;
}

.noRecord{
    margin: 0 auto !important;
}
.font-bold {
    font-weight: bold !important;
}

.font-white {
    color: #ffffff !important;
}

.header {
    border: 0;

    .nav-link {
        color: #ffffff !important;
    }
}

.form-control.form-profile {
    max-width: 1000px;
}

.container-signin {
    width: 500px;
}

.input-group-description {
    height: 100px;
}

.hr-request-fund {
    background-color: #e91e63;
    height: 3px;
    opacity: 55%;
}

.img-footer {
    width: 200px;
    height: auto;
}

.img-navbar {
    width: 170px;
    height: auto;
}

.profile-image {
    width: 110px;
    height: auto;
}

.card-signin {
    width: 500px;
}

.card-step-2 {
    width: 550px;
}


.addBtn{
    padding: 8px 20px !important;
    border-radius: 10px !important;
}

.borderNone{
    border: none !important;
}

.p-0{
    padding: 0px;
}

.foodBankCard{
    // margin: 20px 60px 0px 60px;
    color: #20212B !important;
    width: 50%;
    // position: relative;
    // left: 20%;
    // right: 20%;
    margin: 0 auto;
    margin-top: 10px;
}

.addForm{
    margin: 20px 0;
}

.formLabel{
    padding: 0 3px !important;
    color: #20212B;
}

.noRecords{
    text-align: center !important;
}

.color-yellow{
    color: #fdbe33;
}
.cardHeading{
    color: #fdbe33;
    font-weight: bold;
    font-size: 20px;
    margin: 0 !important;
}
.modal-dialog{
    margin: 20% auto !important;
}

.modal-footer{
    padding: 4px !important;
}

.text-center{
    text-align: center;
}